html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom right, #444444, #17181b);

}

@font-face {
  font-family: "xivfont";
  src:
    url("https://lds-img.finalfantasyxiv.com/pc/global/fonts/FFXIV_Lodestone_SSF.woff") format('woff'),
    url("https://lds-img.finalfantasyxiv.com/pc/global/fonts/FFXIV_Lodestone_SSF.woff") format('truetype');
  unicode-range: U+E020-E0DB;
  size-adjust: 65%;
}

@media (max-width: 623px) {
  html {
    font-size: 0.7rem;
  }
}

@media (min-width: 624px) {
  html {
    font-size: 0.8rem;
  }
}

@media (min-width: 702px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 780px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 858px) {
  html {
    font-size: 1.25rem;
  }
}

body {
  display: flex;

  flex-direction: column;

  // font-size: 1.25rem;
  font-family: system-ui;
}

h1 {
  color: #e6e6e6;
}

footer {
  margin-left: auto;
  padding: 0.5rem;
  font-size: 1rem;
  color: #e6e6e63a;
}

button {
  background-color: transparent;
  color: #e6e6e6;

  border: 2px solid;
  border-radius: 0.25rem;
  border-color: #ffffff57;
}

button:active {
  background-color: #e6e6e6;
  color: #000000;
}

div.errorReport {
  display: flex;
  flex-direction: row;
  justify-content: center;

  >span.errorMessage {
    color: #bb1e1e;
    margin-right: 0.5rem;
  }

  margin-bottom: 1rem;
}

div.chatBox {
  width: 100%;
  max-width: 1000px;
  height: 1%;

  margin-bottom: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  >div.chatBoxContent {
    border: 2px solid;
    border-radius: 0.25rem;
    border-color: #ffffff57;
    overflow-y: auto;
    padding: 0.25rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    font-family: xivfont, system-ui;

    >div.chatEntry {
      display: block;

      >div.timestamp {
        color: #FFFFFFFF;
        min-width: fit-content;
        margin-right: 0.25rem;
        float: inline-start;
      }

      >div.chatType {
        min-width: fit-content;
        margin-right: 0.25rem;
        float: inline-start;
      }

      >div.sender {
        min-width: fit-content;
        margin-right: 0.5rem;
        float: inline-start;
      }
    }
  }

  >div.chatBoxHeader {
    display: block;
    width: 100%;
    flex-grow: 0;
    flex-direction: row;

    >div.manualRefresh {
      float: left;
    }

    >div.refreshSettings {
      margin-right: 0.25rem;
      margin-top: 0.25rem;
      color: #e6e6e6;
      min-width: fit-content;
      float: right;
    }
  }
}

div.content {
  padding: 0.5rem;
  display: flex;
  flex-grow: 0;
  height: 100%;

  justify-content: center;
  align-items: center;

  flex-direction: column;
  overflow: hidden;
}

div.chatInput {
  width: 100%;
  max-width: 1000px;
  display: inline-block;
  flex-grow: 0;

  >form {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex: 0;
    flex-direction: row;

    >label {
      display: none;
    }

    >select {
      flex: 0;
      color: #e6e6e6;
      appearance: none;
      margin: 0 0.25rem 0 0.25rem;
      outline: none;
      background-color: transparent;
      border: 2px solid;
      border-radius: 0.25rem;
      border-color: #ffffff57;
      line-height: inherit;
      font-size: 1.2rem;
      text-align-last: center;

      >option {
        color: #000000;
        text-align: center;
      }
    }

    >input {
      flex-grow: 1;
      margin: 0 0.25rem 0 0;
      border: 2px solid;
      border-radius: 0.25rem;
      border-color: #ffffff57;
      color: #e6e6e6;
      background-color: rgba(53, 53, 53, 0.3);
      font-family: system-ui;
      font-size: 1rem;
    }

    >input:focus {
      border: 2px solid;
      border-radius: 0.25rem;
      border-color: #ffffff;
      color: #e6e6e6;
      background-color: rgba(53, 53, 53, 0.3);
      outline-color: transparent;
      outline-style: none;
    }

    >button {
      float: right;
      flex: 0;
      margin: 0 0.25rem 0 0;
    }
  }
}